.current-container {
  padding: 20px;
  position: relative;
  overflow: auto;
}

.reaction-hints-container {
  margin-top: 20px;
}

.reaction-hints-container ul {
 /* list-style: none; */
  padding-left: 0;
}

.reaction-hints-container li {
  margin-bottom: 10px;
}

.reaction-log-container {
  margin-top: 20px;
}

.reaction-log-container table {
  width: 100%;
  border-collapse: collapse;
}

.reaction-log-container th,
.reaction-log-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reaction-log-container th {
  background-color: #343a40;
  color: white;
}

.reaction-log-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reaction-hint-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.reaction-hint-item img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.reaction-hint-description-wrapper {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reaction-hint-description-wrapper img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.reaction-hint-description-container {
  margin-top: 10px; 
  text-align: left;
}

.reaction-hint-description {
  margin: 0;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: left;
  display: block;
  max-width: 800px;
  border: 3px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.reaction-image-container {
  position: relative;
  display: inline-block;
}

.reaction-image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.discovered-icon-wrapper {
  display: flex;
  align-items: center;
}

.discovered-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 2.0rem;
  color: green;
}

.reveal-button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.reveal-button:hover {
  background-color: #0056b3;
}